* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Vidaloka', serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

/* header  */
.header,
.hero {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  align-items: center;
  /* border-bottom: 1px solid #8a8d91; */
}

.header__container::after {
  position: absolute;
  left: 15px;
  bottom: -1px;
  content: '';
  display: block;
  width: calc(100% - 30px);
  height: 2px;

  background-color: #8a8d91;
}

nav {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 50px;
  width: 168px;
  margin-right: 160px;
  padding-top: 10px;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu__link {
  position: relative;
  display: block;
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 45px;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu__link--current {
  color: #ffeb3b;
}

.menu__link:hover {
  color: #ffeb3b;
}

.menu__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffeb3b;
  z-index: 2;
}

/* hero  */

.hero {
  background-color: #24262e;
  background-color: transparent;
  background-image: url(images/overlay.png), url(images/hero.png);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}
.hero__container {
  height: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* socials  */

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #ffffff;
}

.link--team {
  color: rgba(150, 149, 149, 0.25);
  background-color: transparent;
  border: 1px solid rgba(150, 149, 149, 0.25);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link--team:hover,
.link--team:focus {
  border: 1px solid #ffeb3b;
  background-color: #ffeb3b;
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}
.socials__link--theme-dark {
  transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.socials__link--theme-dark:hover,
.socials__link--theme-dark:focus {
  background-color: #ffeb3b;
  color: #24262e;
}

/* footer */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #24262e;
  background-image: url(images/dark-back.png);
  background-repeat: no-repeat;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.footer__rights {
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 400;
  color: #ffffff;
}

.footer__rights span {
  color: #ffeb3b;
}

/* section    */

.section__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 50px;
  color: #24262e;
}

.section__title span {
  color: #ffeb3b;
  text-decoration: underline;
}

.section__text {
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  color: #969595;
  margin-bottom: 135px;
}

/* features */

.section--features,
.section--services {
  padding-top: 130px;
  padding-bottom: 170px;
}
.title--features {
  line-height: 2;
  margin-bottom: 150px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
}

.features__item {
  flex-basis: calc(100% / 3);
  display: flex;
}

.feature__icon-wrap {
  width: 90px;
}

.feature-icon {
  width: 40px;
  font-size: 40px;
  color: #969595;
  opacity: 0.25;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.features__item:hover .feature-icon {
  color: #ffeb3b;
  opacity: 1;
}

.features__item:hover .feature__info {
  border-left: 1px solid #ffeb3b;
}
.features__item:hover .feature__title {
  color: #ffeb3b;
}

.feature__info {
  padding-left: 30px;
  border-left: 1px solid rgba(150, 149, 149, 0.25);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feature__title {
  color: #24262e;
  font-size: 20px;

  margin-bottom: 40px;
}
.feature__text {
  color: #969595;
  max-width: 270px;
  line-height: 2;
  font-size: 13px;
  font-weight: 400;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* portfolio  */

.section--portfolio {
  padding-top: 130px;
}

.filter-list {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 120px;
}

.filters__btn {
  border: 2px solid #ffda00;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #24262e;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filters__btn:hover,
.filters__btn:focus {
  background-color: #ffda00;
}
.filters__btn--active {
  background-color: #ffda00;
}

.portfolio {
  display: flex;
}

.portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1420px;
}

.portfolio-wrap .portfolio-item img {
  height: 450px;
}

.portfolio-item {
  width: fit-content;
}
.project-1 {
  width: 500px;
  height: 900px;
}

.project__title {
  font-size: 30px;
  color: #24262e;
  margin-bottom: 50px;
}

.project__desc {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
  margin-bottom: 70px;
}

.project__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #24262e;
  width: 170px;
  padding: 15px;
  font-weight: 700;
  border: 1px solid #24262e;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project__card-thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 70px;
  background-color: rgba(255, 235, 59, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-item:hover .project__overlay {
  transform: translateY(0);
}

.project__link:hover {
  color: #ffeb3b;
  background-color: #24262e;
}
/* services  */

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services__item {
  flex-basis: calc((100% - 60px) / 3);
  padding-top: 90px;
  padding-bottom: 65px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.services__title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
.services__text {
  color: #fff;
  line-height: 2;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 50px;
}

.services__link {
  font-family: 'Open Sans', sans-serif;
  color: #ffeb3b;
  font-size: 14px;
  font-weight: 600;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services__link:hover {
  color: #fff;
}

.services__item:nth-child(1) {
  background-color: #ff5253;
}
.services__item:nth-child(2) {
  background-color: #4cb050;
}
.services__item:nth-child(3) {
  background-color: #673ab7;
}
.services__item:nth-child(4) {
  background-color: #2196f3;
}
.services__item:nth-child(5) {
  background-color: #ffeb3c;
}
.services__item:nth-child(6) {
  background-color: #00bcd5;
}

.services__item:nth-child(5) .services__title,
.services__item:nth-child(5) .services__text,
.services__item:nth-child(5) .services__link {
  color: #24262e;
}

.services__item:nth-child(5) .services__link:hover {
  color: #fff;
}

/* team  */
.section--team {
  padding-top: 130px;
  padding-bottom: 140px;
}
.title--team {
  font-size: 50px;
}
.text--team {
  max-width: 440px;
  margin-bottom: 120px;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.team-item {
  flex-basis: calc((100% - 60px) / 3);
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  border-left: 1px solid rgba(150, 149, 149, 0.25);
  border-right: 1px solid rgba(150, 149, 149, 0.25);
  border-bottom: 1px solid rgba(150, 149, 149, 0.25);
}

.team__title {
  font-size: 20px;
  font-weight: 400;
  color: #24262e;
  margin-bottom: 30px;
  text-align: center;
}

.team__text {
  text-align: center;
  width: 310px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #969595;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(150, 149, 149, 0.25);
}

/* subscription  */

.section--subscription {
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #24262e;
  background-image: url(images/gray-back.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title--subscr {
  font-size: 50px;
  color: #fff;
  margin-bottom: 40px;
}

.text--subscr {
  font-size: 16px;
  color: #969595;
  margin-bottom: 60px;
  max-width: 440px;
}

.subsc-form {
  display: flex;
  gap: 20px;
  width: 620px;
  margin: 0 auto;
}

.subsc-form__input {
  flex-grow: 1;
  width: 460px;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #fff;
  border: none;
  outline: none;
  background-color: rgba(138, 141, 145, 0.25);
  font-family: 'Open Sans', sans-serif;
}

.subsc-form__input::placeholder {
  color: #fff;
}

.subsc-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeb3b;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #24262e;
  min-width: 140px;
  padding: 20px 53px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.subsc-form__btn:hover {
  background-color: #fff;
}

/* clients */

.section--clients {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: #24262e;
  background-image: url(images/dark-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title--clients {
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}

.text--clients {
  color: #fff;
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin-bottom: 125px;
  max-width: 900px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  gap: 50px;
}

.slider {
  display: flex;
  gap: 150px;
}

.slide {
  /* flex: 0 0 25%; */
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.indicator--active {
  background-color: #ffeb3b;
}
